swagger: '2.0'
info:
  title: Sample Cloud Endpoints
  description: Sample API on Cloud Endpoints with a Cloud Run backend
  version: 1.0.0
host: ENDPOINTS_CLOUD_RUN_HOSTNAME
schemes:
  - https
produces:
  - application/json
x-google-backend:
  address: BACKEND_APP_URL
  protocol: h2
paths:
  /:
    get:
      summary: Hello response
      operationId: hello
      responses:
        200:
          description: Ok
          schema:
            type: string
  /hello:
    get:
      summary: Hello world response
      operationId: helloWorld
      responses:
        200:
          description: Ok
          schema:
            type: string
  /sample_post:
    post:
      summary: Sample Post
      operationId: samplePost
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: payload
          description: Sample payload to POST
          schema:
            type: object
            required:
              - username
            properties:
              username:
                type: string
              age:
                type: number
      responses:
        200:
          description: Ok
          schema:
            type: string
        default:
          description: Unexpected error