swagger: '2.0'
info:
  title: Sample Cloud Endpoints
  description: Sample API on Cloud Endpoints with a Cloud Run backend
  version: 1.0.0
host: ENDPOINTS_CLOUD_RUN_HOSTNAME
schemes:
  - https
produces:
  - application/json
x-google-backend:
  address: BACKEND_APP_URL
  protocol: h2
paths:
  /hello:
    get:
      summary: Hello world response
      operationId: hello
      responses:
        '200':
          description: A successful response
          schema:
            type: string